**SW Expert Academy 파이썬 프로그래밍 기초(1)**
# 6226. 파이썬 기초 6. 흐름제어 - If - 연습문제 7

<hr/><br>

1~200 사이의 정수 가운데 7의 배수이면서 5의 배수는 아닌 모든 숫자들을 찾아

콤마(,)로 구분된 문자열을 구성해 출력하는 프로그램을 작성하십시오. <br><br>

출력 : 7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196

<br><hr/>

가장 먼저 작성한 코드

In [ ]:
for i in range(1,201) :
    if i % 5 == 0 :
        del(i)
    elif i % 7 == 0 :  
        print(i, end = ",") # 그런데 마지막에 쉼표(,)가 함께 출력되었다.

7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196,

##**중첩 if 조건문**

if문은 또 다른 if문을 가질 수 있고, 이를 중첩 if문이라 한다.   
중첩 if문은 조건의 포함 관계, 특히 인덴트(들여쓰기)를 주의해야 한다.   
조건이 중첩 되기 때문에 "첫번째 if문을 충족하면서 동시에 두번째 if문을 충족하면 실행하라" 라는 의미를 가진다.

```
if 조건문 :
　　수행할 문장
　　if 조건문 :
　　　수행할 문장
```
여기에서 두번째 if문의 들여쓰기는 첫번째 if문과 같아야 한다.

In [ ]:
for i in range(1,201) :
    if i % 7 == 0 :
        if i % 5 != 0 :
            print(i, end = ",")

7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196,

##**if 조건문에서 and 연산자 사용**

**and, or, not**

조건을 판단하기 위해 사용하는 다른 연산자로 and, or, not이 있다.

각각의 연산자에 대한 설명은 다음과 같다.

|**연산자**|**설명**|
|:-:|:-:|
|**x or y**|x와 y 둘 중에 하나만 참이어도 참이다|
|**x and y**|x와 y 모두 참이어야 참이다|
|**not x**|x가 거짓이면 참이다|

In [ ]:
a = ""
print(type(a))

<class 'str'>

In [ ]:
a = (1, 2, 3, 4, 5)
print(a[:-1])

(1, 2, 3, 4)

In [ ]:
a = ""
for i in range(1, 201) :
    if(i % 7 == 0) and (i % 5 != 0) :
        a += str(i) + ","

print(a[:-1]) # 가장 마지막에 오는 문자열인 쉼표'.'를 제외하고 출력

7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196

##**for 반복문으로 리스트를 생성하여 결과값 도출**

In [ ]:
result = []     # 빈 리스트 생성
for i in range(1,201) :
    if (i % 7 == 0) and (i % 5 != 0) :
        result.append(i)    # append로 조건을 만족하는 요소를 리스트에 추가

print(result)

[7, 14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98, 112, 119, 126, 133, 147, 154, 161, 168, 182, 189, 196]

`join`메소드를 사용하여 리스트 안의 요소들을 문자열로 변환해주려 하였으나,   
`str.join()` 메소드는 str 데이터 타입 요소가 있는 리스트를 문자열로 변환해주는 것으로 

```
TypeError: sequence item 0: expected str instance, int found
```

위와 같은 에러가 발생함

In [ ]:
result = []     # 빈 리스트 생성
for i in range(1,201) :
    if (i % 7 == 0) and (i % 5 != 0) :
        result.append(i)    # append로 조건을 만족하는 요소를 리스트에 추가

print("".join(result))

TypeError: ignored

str 데이터 유형이 아닌 int 형식을 문자열로 변환해주기 위해   
리스트 안에 있는 int 타입의 요소들을 str 타입으로 먼저 바꾸어준다.

###**1. List Comprehension**
리스트를 문자열로 변환해주기 위한 방법 중 하나인 List comprehension

> 리스트 컴프리헨션이란 쉽게 말해 리스트를 쉽고 **짧게 한 줄로** 만들 수 있는 파이썬의 문법이다.

리스트 컴프리헨션의 기본적인 문법은 다음과 같다.

```
[ ( 변수를 활용한 값 ) for ( 사용할 변수 이름 ) in ( 순회할 수 있는 값 )]
```

In [22]:
size = 10
for i in range(size):
    arr[i] = i * 2

print(arr)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
size = 10
arr = [i * 2 for i in range(size)]

print(arr)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

이제 list comprehension을 써서 리스트를 문자열로 변환해준다

In [ ]:
a = [1,2,3]
"".join([str(_) for _ in a])

'123'

In [ ]:
result = []     # 빈 리스트 생성
for i in range(1,201) :
    if (i % 7 == 0) and (i % 5 != 0) :
        result.append(i)    # append로 조건을 만족하는 요소를 리스트에 추가

",".join([str(_) for _ in result])  # list comprehension으로 result의 int type 리스트를 str type 으로 변환

'7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196'

#### How to print a list without brackets in Python
리스트를 출력할 때 괄호와 마크업 없이 단지 결과값만을 추출하고자 한다면   
아래와 같이 변수 이름(리스트명) 앞에 *을 넣어주면 된다.   
```
print(*value, sep="")
```

예시)

In [11]:
a = [1, 2, 3]
print(*a)

1 2 3

이때, 리스트 안의 요소들을 분리하여 개별적으로 풀어서 출력하기에   
구분자의 기본값인 `sep=' '` 공백, 즉 띄어쓰기가 되어 출력되므로     
쉼표를 사용하는 등 다른 내용으로 출력하고 싶다면 `sep="내용"`과 같이 써주면 된다.

In [13]:
a = [1, 2, 3]
print(*a, sep = ",")

1,2,3

리스트에서 괄호를 제외한 값만을 출력하는 방법을 배웠으니 이제 적용해보자

In [9]:
result = []     # 빈 리스트 생성
for i in range(1,201) :
    if (i % 7 == 0) and (i % 5 != 0) :
        result.append(i)    # append로 조건을 만족하는 요소를 리스트에 추가

print(result)

[7, 14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98, 112, 119, 126, 133, 147, 154, 161, 168, 182, 189, 196]

In [8]:
result = []     # 빈 리스트 생성
for i in range(1,201) :
    if (i % 7 == 0) and (i % 5 != 0) :
        result.append(i)    # append로 조건을 만족하는 요소를 리스트에 추가

print(*result, sep=",")

7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196

###__2. map 함수__

`map` 함수는 `str` 함수를 목록 a 의 모든 항목에 적용하고 반복 가능한 `map` 객체를 반환한다.

`"".join()`은 `map` 객체의 모든 요소를 ​​반복하고 연결된 요소를 문자열로 반환한다.

In [28]:
a = [1,2,3]
"".join(map(str, a))

'123'

In [36]:
result = []     # 빈 리스트 생성
for i in range(1,201) :
    if (i % 7 == 0) and (i % 5 != 0) :
        result.append(i)    # append로 조건을 만족하는 요소를 리스트에 추가

print(",".join(map(str,result)))    # map 함수를 이용하여 리스트를 문자열로 변환

7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196

###결과

방법 1. 

if 조건문을 만족하는 for 반복문을 str 값으로 받고   `a = ""` `a += str(i)`   
각 값마다 쉼표(,) 문자열을 더한 후   `+ ","`   
맨 끝에서 1 앞의 값까지만 출력  `print(a[:-1])` (맨 끝에 오는 쉼표는 출력되지 않음)

In [16]:
a = ""
for i in range(1, 201) :
    if(i % 7 == 0) and (i % 5 != 0) :
        a += str(i) + ","

print(a[:-1])

7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196

방법 2-1. for 문으로 리스트 생성 후 문자열 변환 1 (*value)

In [17]:
result = []    
for i in range(1,201) :
    if (i % 7 == 0) and (i % 5 != 0) :
        result.append(i)   

print(*result, sep=",")

7,14,21,28,42,49,56,63,77,84,91,98,112,119,126,133,147,154,161,168,182,189,196

방법 2-2. for문으로 리스트 생성 후 문자열 변환 2 (map 함수)

In [ ]:
result = []   
for i in range(1,201) :
    if (i % 7 == 0) and (i % 5 != 0) :
        result.append(i)  

print(",".join(map(str,result)))

[참고]

중첩 if문 : https://m.blog.naver.com/scyan2011/221701591488   
반복문으로 리스트 만들기 : https://dojang.io/mod/page/view.php?id=2293   
리스트를 문자열로 변환하는 방법 : https://www.delftstack.com/ko/howto/python/how-to-convert-a-list-to-string/   
List comprehension : https://shoark7.github.io/programming/python/about-list-comprehension-python   
How to print a list without brackets : https://www.kite.com/python/answers/how-to-print-a-list-without-brackets-in-python